body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#captcha-box {
    display: inline-block;
    margin-right: 10px;
}

#captcha {
    border: 1px solid #ccc;
    padding: 5px;
}

#user-input {
    display: inline-block;
    margin-right: 10px;
}

#submitInput {
    border: 1px solid #ccc;
    padding: 5px;
}

#refresh-button {
    display: inline-block;
    cursor: pointer;
}

.inline {
    display: inline-block;
}